<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>IEEE-MSB</title>

    <!-- Favicons -->
    <link href="/static/img/favicon.ico" rel="icon">
    <link href="/static/img/favicon.ico" rel="apple-touch-icon">

    <!---CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav id="navbar" style="color: black;" class="flex">
            <div>
                <a href="#"><img id="logo" alt="IEEE-MSB" src="/static/img/logo.png"></a>
            </div>

            <!--Mobile nav bar-->
            <div class="toggle-btn-mobile flex">
                <span class="navigation-bar"></span>
                <span class="navigation-bar"></span>
                <span class="navigation-bar"></span>
            </div>

            <div class="navbar-list">
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#events">Events</a>
                <a href="#contact">Contact Us</a>
            </div>
        </nav>

        <!--Home Section-->
        <section id="home">
            <div class="heading">
                <h3>MANIT Student Branch</h3>
                <h1>Institute of Electrical and Electronics Engineers</h1>
                <button type="button" class="btn btn-primary btn-lg"><a href="/#about">About Us</a></button>
            </div>
        </section>
    </header>

    <!--About Section-->
    <section id="about" class="flex">
        <div class="content">

            <div class="about-img"><img alt="IEEE" src="static/img/about.jpg"></div>
            <div class="about-text">
                <h2>About IEEE - MSB</h2>
                <p>
                    IEEE is the world’s largest technical professional organization. It is dedicated to the
                    advancement
                    of technology for the betterment of humanity. Its core purpose is to foster the technological
                    innovation and excellence.Believing in the same ideology and to carry this envisioned purpose,
                    IEEE
                    MANIT Student Branch ventures to be conducive and works assiduously towards achieving its goal.
                </p>
                <button id="about-modal" type="button" class="btn btn-outline-primary">Read More</button>
            </div>
        </div>
    </section>

    <!--Modal Section-->
    <section id="modal">
        <div class="bg-modal slideInRight animated">
            <div id="slide" class="modal-content">
                <div class="close-box">
                    <span class="close">&times;</span>
                </div>
                <div class="modal-heading">
                    <h2>About IEEE-MSB</h2>
                    <hr>
                </div>
                <div class="modal-about">
                    <div class="modal-txt">
                        <p> IEEE is the world’s largest technical professional organization. It is dedicated to the
                            advancement of technology for the betterment of humanity. Its core purpose is to foster
                            the technological innovation and excellence. Believing in the same ideology and to carry
                            this envisioned purpose, IEEE MANIT Student Branch ventures to be conducive and works
                            assiduously towards achieving its goal. IEEE MSB is the only renowned branch of central
                            India, Madhya Pradesh region. Having received prestigious accolades, including, the
                            Darrel Chong medal, twice, one being gold, IEEE MANIT Student Branch has proven its
                            mettle and prowess to be one of the most hardworking branches in the Asia Pacific Region
                            and has successfully secured a position amongst the other IEEE branches.

                            IEEE MSB endeavours to promote awareness among students regarding the opportunities that
                            exist in the field of computer science, electronics and electrical engineering. It aims
                            to provide an interactive platform for students to develop their professional and
                            technical abilities. Since its inception, it has been at the helm directing and
                            promoting technical expertise by organizing various events all-round the year with a
                            well-defined objective of bridging the gap between industry and students, while
                            promoting and providing an intellectually stimulating environment for all the students.
                            It is the team's efforts and dexterity that has led it to the pinnacle of success. It
                            believes to set a benchmark every time and strive to achieve it with full rigour,
                            efforts, hard work, and diligence.</p>
                    </div>
                    <div class="modal-img">
                        <img alt="IEEE" src="static/img/modal.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Events-->
    <section id="events">
        <div class="event-heading">
            <h1>Events</h1>
        </div>
        <div class="card-box">
            <!---Card 1-->
            <div class="card">
                <div class="imgBx">
                    <img src="static/img/aarambh.png" alt="Aarambh">
                </div>
                <div class="content">
                    <h2>Aarambh</h2>
                    <p>It is a social initiative, organised by IEEE MSB, that focuses on encompassing a large number
                        of
                        students across numerous under -resourced schools.</p>
                </div>
            </div>
            <!---Card 2-->
            <div class="card">
                <div class="imgBx">
                    <img src="static/img/samwad.jpg" alt="Samwad">
                </div>
                <div class="content">
                    <h2>Samwad</h2>
                    <p>IEEE MSB every year orchestrates an event “SAMWAD“ under WIE, to realize the indomitable
                        spirit
                        of
                        women and to praise and promote their significant contribution.</p>
                </div>
            </div>
        </div>
        <div class="card-box">
            <!---Card 3-->
            <div class="card">
                <div class="imgBx">
                    <img src="static/img/sceecs.jpg" alt="SCEECS">
                </div>
                <div class="content">
                    <h2>SCEECS</h2>
                    <p>This conference helps to publish research papers on IEEE Xplore, providing the people with a
                        plethora
                        from which their research could be well accessed by anyone in the world.</p>
                </div>
            </div>
            <!---Card 4-->
            <div class="card">
                <div class="imgBx">
                    <img src="static/img/srajan.jpg" alt="Srajan">
                </div>
                <div class="content">
                    <h2>SRAJAN</h2>
                    <p>SRAJAN is a biennial case study event organized by IEEE MSB.With the tagline - Ideate | |
                        Innovate |
                        | Create .</p>
                </div>
            </div>
        </div>
    </section>

    <!--Contact US-->
    <section id="contact" class="contact-flex">
        <div class="content">

            <div class="about-img"><img alt="IEEE" src="static/img/contact.jpg"></div>
            <div class="about-text">
                <h2>Contact Us</h2>
                <div class="contact-form">
                    <div class="flex">
                        <form id="form" class="flex" action="/" method="post">
                            <input name="name" type="text" class="form-input" placeholder="Full Name" required>
                            <input name="subject" type="text" class="form-input" placeholder="Subject" required>
                            <input name="email" type="email" class="form-input" placeholder="Email" required>
                            <textarea name="message" class="form-input" placeholder="Message" rows="4"
                                required></textarea>
                            <div class="button btn-flex">
                                <button type="submit" class="btn btn-outline-primary">Submit</button>
                                <button id="view-button" type="button" class="btn btn-outline-primary">View</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
    </section>

    <div class="table-box">
        <div class="flex center">
            <div class="table-heading">
                <h1>Messages</h1>
            </div>
        </div>
        <div class="table-sec">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Subject</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in history %}
                    <tr>
                        <td>{{entry[0]}}</td>
                        <td>{{entry[1]}}</td>
                        <td>{{entry[2]}}</td>
                        <td>{{entry[3]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!---Footer-->

    <footer id="footer">
        <div class="container">
            <h3><img alt="logo" id="logo" src="static/img/logo.png"></h3>
            <div class="copyright">
                &copy; Copyright <strong><span>MANIT</span></strong>. All Rights Reserved.
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <script src="static/js/index.js"></script>

</body>

</html>